/* home.css */

.home-content {
  background-image: url("../../Assets/imgfor\ bck.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  min-height: 120vh;
}
